* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h3 {
	font-weight: normal;
}

.maindiv {
	background-color: #f3f3f3;
}

.hoverstyle:hover {
	color: #fff;
    background-color: #428bca !important;
    border-color: #285e8e;
}

.form-group {
	margin-bottom: 0;
	text-align: left;
}


label {
	font-weight: normal;
	margin-top: 15px;
}

input {
	border: 2px solid #CCC !important;
	border-radius: 3px;
	max-width: 100%;
}

.radiolabel {
	margin-top: -2px !important;
	margin-left: 10px;
}

.input-group-addon {
  	border: 2px solid #CCC !important;
  	border-right: 0px !important;
}

.table {
	margin-bottom: 0 !important;
}

.nopaddingleft {
   padding-left: 0 !important;
   margin: 0 !important;
}

.nopaddingright {
   padding-right: 0 !important;
   margin: 0 !important;
}