* {
	margin: 0;
	padding: 0;
}

.maindiv {
	background-color: #f3f3f3;
}

.hoverstyle:hover {
	color: #fff;
    background-color: #428bca !important;
    border-color: #285e8e;
}

.finputs {
	margin-bottom: 10px;
}