body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 300;
}

#wrapper {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
}

.form-group {
	margin-bottom: 0;
	text-align: left;
}


label {
	font-weight: normal;
	margin-top: 15px;
}

input {
	border: 2px solid #CCC !important;
	height: 35px;
	border-radius: 3px;
	max-width: 100%;
}

.radiolabel {
	margin-top: -2px !important;
	margin-left: 10px;
}

.radioinput {
	height: 0;
	border-radius: 0;
}

.input-group-addon {
  border: 2px solid #CCC !important;
  border-right: 0px !important;
}

.btn {
	margin-top: 20px;
	border: 0;
	border-radius: 3px;
}